<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back"></i>
                <span>Voltar</span>
            </a>
        </div>
        <div class="center sliding">Sobre</div>
        <div class="right">
            <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
        </div>
    </div>
</div>
<div class="pages">
    <div data-page="about" class="page">
        <div class="page-content">
            <div class="content-block">
                <p>Aplicativo Interação FURB</p>
                <p>Desenvolvido por Gabriel Felipe Borges de Campos (gabrielfbc@outlook.com)</p>
            </div>
        </div>
    </div>
</div>