<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back-blue"></i>
                <span>Cancelar
                </span>
            </a>
        </div>
        <div class="center sliding">Compartilhar</div>
        <div class="right">
            <a href="#" class="link icon-only open-panel"><i class="icon icon-bars-blue"></i></a>
        </div>
    </div>
</div>
<div class="pages">
    <div data-page="share" class="page">
        <form class="searchbar">
            <div class="searchbar-input">
                <input type="search" placeholder="Pesquisar">
                    <a href="#" class="searchbar-clear"></a>
            </div>
            <a href="#" class="searchbar-cancel">Cancel</a>
        </form>
        <div class="searchbar-overlay"></div>
        <div class="page-content"></div>
    </div>
</div>