.map-canvas{
    position:absolute;
    top: 44px;
    width:100%;
    height:280px;
}

.contacts-list .item-media img{
    width: 48px;
    height: 48px;
    border-radius: 24px;
}

.pending-list .item-media img{
    width: 48px;
    height: 48px;
    border-radius: 24px;
}

.list-block {
    margin: 0 0;
}

#page-content{
    padding-top: 324px;
}

.panel {
    background: #fafafa;
}

.panel ul {
    border-bottom: 0px;
    border-top: 1px solid #fafafa;
}

.panel .list-block .item-content {
    background: #fafafa;
}

.panel .list-block .item-title {
    color: #fafafa;
}

.panel .custom-list-block{
    margin: 43px 0;
    font-size: 17px;
}

h2,
p {
    text-align: center;
    display: block;
}
h2 {
    font-weight: 500;
}